.form-header {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #eee;
}

.form-body {
  padding: 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.form-actions {
  padding: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
}